<h1>All Shelters</h1>
<% @shelters.each do |shelter| %>
  <p><%= shelter.name %></p>
<% end %>


  <h2>Shelters with Pending Applications</h2>
  <% @shelters_pending_apps.each do |shelter| %>
  <div id="shelter-<%= shelter.id %>">
  <p><%= shelter.name %></p>
  <% end %>
  </div>
